body {
    background-color: antiquewhite;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#content {
    position: relative;
    display: flex;
    justify-content: center;
}

#mainbox {
    width: max(50vw, 750px);
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}

#mainbox>h2 {
    margin: 15px 0px 0px 0px;
}

#imagebox {
    position: relative;
}

img#mainimage {
    width: 100%;
}

h1 {
    position: absolute;
    margin: 0;
    color: white;
    font-size: 3rem;
    bottom: 15px;
    left: 15px;
}

#gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    align-items: center;
    justify-items: start;
    justify-content: center;
}

#gallery>img {
    height: 100px;
    width: auto;
    transition: all 1s;
    box-shadow: 0px 7px 7px grey;
}

.menucard {
    background-color: #4A6C6F;
    margin: 15px 0px 15px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 6px 6px grey;
}

.menucard>h2, .menucard>h3, .menucard>p {
    margin: 10px 15px 10px 15px;
    width: 50%;
}

.menucard>h2 {
    margin-top: 20px;
}

.menucard>img {
    position: absolute;
    max-width: 40%;
    max-height: 60%;
    right: 0;
    bottom: 10px;
    filter: grayscale(40%);
    border-radius: 50px 0px 0px 50px;
    transition: all 0.6s;
    border: 5px solid #23474b;
    border-width: 5px 0px 5px 5px;
}

.menucard>img::after {
    box-shadow: inset 3px 3px 10px 0 #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.menucard>img:hover {
    border-radius: 0px;
    filter: grayscale(0%);
    max-width: 50%;
    max-height: 80%;
    border: 5px solid transparent;
    filter: drop-shadow(-5px 5px 7px #23474b)
}

#italics {
    font-style: italic;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0;
    border-style: none;
    filter: drop-shadow(0px 5px 5px grey);
    transition: bottom 0.5s, left 0.5s, right 0.5s, background-color 0.5s, color 0.5s;
}

button:hover {
    background-color: #23474b;
    color: white;
}

#buttonbox {
    filter: opacity(0.5);
    display: block;
    position: fixed;
    bottom: 15px;
    width: 70px;
    height: 70px;
}

#buttonbox:hover {
    filter: opacity(1);
}